# Managed by Ansible.
host_id: "{{ host_id }}"
nats_url: "nats://{{ hostvars[groups['management'][0]].mgmt_ip }}:4222"
heartbeat: 60s
proxmox:
  url: "https://127.0.0.1:8006"
  node: "{{ pve_node_name }}"
  token_id: "pgcloud@pve!agent"
  storage: "{{ proxmox_ceph_pool }}"
  bridge: "{{ proxmox_vxlan_zone }}"
  public_bridge: "vmbr0"
  insecure: true
